.NavBar {
    background-color: #f8f9fa;
}

.NavBarList {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin-left: 2vw;
}

.NavBarItem {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #d2d2d2;
    transition: background-color 0.3s ease;
}

.NavBarItem:hover {
    background-color: #bfbfbf;
}

.NavBarItem.active {
    background-color: #007bff;
}

.NavBarItem.active:hover {
    background-color: #0056b3;
}

.NavBarItem:active {
    transform: scale(0.98);;
}