.NavBar {
    position: relative;
}

.NavBarList {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: flex-start;
    gap:10px;
}

.NavBarList.Shrink {
    position: absolute;
    z-index: 1;
    /*top: 10px;*/
    left: -10px;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--menu-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*.NavBar button {*/
/*    color: var(--color);*/
/*    background-color: var(--menu-bg-color);*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

.NavBarItem {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
    background-color: var(--menu-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 100px;
    gap: 10px;
}

.NavBarItem:hover {
    background-color: var(--block-hover-bg-color);
}

.NavBarItem.active {
    color: var(--button-color);
    background-color: var(--button-bg-color);
}

.NavBarItem.active:hover {
    background-color: var(--button-hover-bg-color);
}

.NavBarItem:active {
    transform: scale(0.98);;
}