.NavBar {
    background-color: #f8f9fa;
}

.NavBarList {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin-left: 2vw;
}

.NavBarItem,
.NavBarItemSelected{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.NavBarItemSelected {
    color: #fff;
    background-color: #007bff;
}


.NavBarItem:hover {
    background-color: #e7e7e7;
}

.NavBarItem:active {
    transform: scale(0.98);;
}