.RegisterAndReset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.RegisterAndReset form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
}

.RegisterAndReset input {
    padding: 0.5rem;
    border: solid 1px var(--border-color);
    border-radius: 5px;
}

.RegisterAndReset p, .RegisterAndReset b {
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
}

.VerificationSendBlock {
    display: flex;
    gap: 10px;
}

.VerificationSendBlock button {
    /*width: 80px;*/
}