.RegisterAndReset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
}

.RegisterAndReset h1 {
    margin-bottom: 2rem;
    color: #333;
}

.RegisterAndReset form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
}

.RegisterAndReset input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.RegisterAndReset a {
    color: #007bff;
    text-decoration: none;
    margin-top: 1rem;
    cursor: pointer;
}

.RegisterAndReset a:hover {
    text-decoration: underline;
}

.VerificationSendBlock button {
    width: 40%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-left: 17px;
}