.MarkDownEditor {
    width: 100%;
    height: calc(100vh - 460px);
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: scroll;
    margin-bottom: 1rem;
    z-index: 0;
}

.MarkDownToolBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.MarkDownEditorContent {
    font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Twemoji', 'Segoe UI Emoji', sans-serif;
}