#Title {
    font-size: 2.25em;
    color: #333;
    margin-bottom: 1rem;
}

.Subtitle {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 0.5rem;
}

.ProgramForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
}

.ProgramForm input[type="text"],
.ProgramForm textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.TargetApplicantMajorOption {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.markdown-preview {
    width: 100%;
    height: 500px;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: #fff;
}

#WritePreviewButtonGroup,
#SaveCancelButtonGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    width: 20%;
}

.ProgramForm button:not(:last-child) {
    margin-right: 1rem;
}

#WritePreviewButtonGroup button,
#SaveCancelButtonGroup button {
    width: 5rem;
}
