.TopBar {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;
}

.WelcomeBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#ThemeButton {
    width: 40px ;
}