.TopBar {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
}

.WelcomeBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.TopBarHeader {
    /*font-size: 2vw;*/
    font-weight: bold;
    color: #333;
}

.TopBarHeader p {
    margin: 0;
}
