@keyframes slideRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.ProgramContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 80vw;
    height: calc(100vh - 200px);
    padding: 20px;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #f8f9fa;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    user-select: text;
    overflow-y: auto;
    animation: slideRight 0.3s cubic-bezier(0.11, 0.88, 0.58, 1);
}

.DraggableButtonGroup {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 3vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fcfcfc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ProgramDescription {
    position: relative;
    z-index: 0;
}
