#error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#error-page h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#error-page p {
    font-size: 1.2em;
    margin-bottom: 10px;
}