.DataTableStyle {
    margin-top: 20px;
}

.DataTableStyle .p-rowgroup-header {
    background-color: #efefef;
}

.DataTableStyle .p-column-title {
    font-weight: bold;
}

.DataTableStyle .p-datatable-thead > tr > th {
    background: #e5e5e5;
}

.DataTableStyle .p-datatable-header {
    border: none;
}