.SearchBar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
}

.SearchBlock svg {
    padding-left: 10px;
    padding-right: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}