.RecordCard {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 10rem;
}

.ProfileContent {
    width: 100%;
    padding: 20px;
    overflow-y: auto;
}


.BasicInfoBlock,
.ExchangeBlock,
.ResearchBlock,
.InternshipBlock {
    width: 100%;
    padding: 1rem 2rem;
}

.RankingSlider.MuiSlider-root {
    height: 15px;
}

.RankingSlider > .MuiSlider-thumb {
    box-shadow: none;
    color: rgb(0, 0, 0, 0%);
}

.RankingSlider > .MuiSlider-thumb::before {
    box-shadow: none;
}

.RankingSlider {
    pointer-events: none;
    cursor: default;
}

.ExchangeBlock,
.ResearchBlock,
.InternshipBlock {
    max-height: 400px;
    overflow-y: auto;
}


