.ProgramMainBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 160px);
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.ProgramContent {
    flex-grow: 1;
    width: 80vw;
    height: calc(100vh - 200px);
    padding: 20px;
    margin-right: 2vw;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    user-select: text;
    overflow-y: auto;
}

.SideBar {
    width: 250px;
    height: calc(100vh - 200px);
    margin-right: 2vw;
    margin-left: 2vw;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #e7e7e7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.UnivList {
    width: 100%;
    height: calc(100vh - 350px);
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #fcfcfc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.UnivItem {
    /*width: 160px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #fcfcfc;
    border-radius: 5px;
    border: solid 1px #e7e7e7;
    cursor: pointer;
    transition: background-color 0.3s ease;
    list-style-type: none;
}

.UnivItem:hover {
    background-color: #e7e7e7;
}

.ProgramList {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.ProgramItem {
    /*width: 160px;*/
    padding: 0.5rem;
    background-color: #fcfcfc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    list-style-type: none;
    border: solid 1px #e7e7e7;
}

.ProgramItem div {
    padding-left: 20px;
}

.ProgramItem:hover {
    background-color: #e7e7e7;
}

.UnivItem:active,
.ProgramItem:active {
    transform: scale(0.98);
}

#AddProgramButton {
    margin-top: 1rem;
}