.SideBar {
    width: 250px;
    height: calc(100vh - 200px);
    margin-right: 2vw;
    margin-left: 2vw;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
    overflow-y: auto;
    transition: transform 0.5s cubic-bezier(0.11, 0.88, 0.58, 1);
    transform: translateX(0);
}

.SideBar.hidden {
    position: absolute;
    z-index: 1000;
    margin: 0;
    transition: transform 0.5s cubic-bezier(0.11, 0.88, 0.58, 1);
    transform: translateX(-100%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.SideBar.hidden.open {
    transition: transform 0.5s cubic-bezier(0.11, 0.88, 0.58, 1);
    transform: translateX(0);
}

.Button.hidden {
    position: absolute;
    width: 40px;
    z-index: 1000;
    border-radius: 0 5px 5px 0;
    transition: transform 0.5s cubic-bezier(0.11, 0.88, 0.58, 1);
}


.Button.hidden.open {
    margin-left: 0;
    transition: transform 0.5s cubic-bezier(0.11, 0.88, 0.58, 1);
    transform: translateX(290px);
}

.FirstLevelList {
    width: 100%;
    height: calc(100vh - 300px);
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #fcfcfc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.FirstLevelItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 20px;
    border-radius: 5px;
    border: solid 1px #e7e7e7;
    cursor: pointer;
    transition: background-color 0.3s ease;
    list-style-type: none;
}

.FirstLevelItem {
    background-color: #fcfcfc;
}

.FirstLevelItem:hover{
    background-color: #e7e7e7;
}


.SecondLevelItem {
    cursor: pointer;
    transition: background-color 0.3s ease;
    list-style-type: none;
    background-color: #fcfcfc;
    border: solid 1px #e7e7e7;
    margin-left: 20px;
    border-radius: 5px;
    text-decoration: none;
}

.SecondLevelItem a {
    display: block;
    padding: 0.5rem 0.5rem 0.5rem 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #333;
}

.SecondLevelItem a.active {
    background-color: #e7e7e7;
}

.SecondLevelItem:hover {
    background-color: #e7e7e7;
}

.FirstLevelItem:active,
.SecondLevelItem:active {
    transform: scale(0.98);
}

.AddRefreshButtonGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

.AddRefreshButtonGroup form {
    width: 50%;
}