.Button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Button:hover {
    background-color: #0056b3;
}

#root {
    user-select: none;
    font-size: clamp(10px, 1.5vw, 16px);
}

.loading {
    opacity: 0.25;
    transition: opacity 200ms;
    transition-delay: 200ms;
}