:root {
    --color: #333;
    --bg-color: #f8f9fa;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
    --button-color: #fff;
    --input-bg-color: #fff;
    --input-disabled-bg-color: #ddd;
    --input-disabled-color: #666;
    --block-hover-bg-color: #ddd;
    --border-color: #ddd;
    --menu-bg-color: #fff;

    user-select: none;
    font-size: clamp(10px, 1.5vw, 16px);
    background-color: var(--bg-color);
    color: var(--color);
}

:root.dark {
    --color: #fff;
    --bg-color: #343a40;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
    --button-color: #fff;
    --input-bg-color: #343a40;
    --input-disabled-bg-color: #555;
    --input-disabled-color: #999;
    --block-hover-bg-color: #555;
    --border-color: #555;
    --menu-bg-color: #343a40;
}

:focus {
    outline: none;
}

/*button {*/
/*    width: 100%;*/
/*    padding: 0.5rem;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    background-color: var(--button-bg-color);*/
/*    color: var(--button-color);*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*button:hover {*/
/*    background-color: var(--button-hover-bg-color);*/
/*}*/

/*button:disabled {*/
/*    background-color: #666;*/
/*    cursor: default;*/
/*}*/

input {
    background-color: var(--input-bg-color);
}

input::placeholder {
    font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, 'BabelStone Flags', 'Segoe UI Emoji', sans-serif;
    font-size: clamp(10px, 1.5vw, 16px);
    padding: 2px calc(10px - 0.5rem) 2px calc(10px - 0.5rem);
    color: var(--color);
}

input:disabled {
    background-color: var(--input-disabled-bg-color);
    color: var(--input-disabled-color);
    cursor: not-allowed;
}

.loading {
    opacity: 0.25;
    transition: opacity 200ms;
    transition-delay: 200ms;
}
